.loader-overlay {
    position: fixed;
    inset: 0;

    background: rgba(255, 255, 255, 0.6);

    z-index: 99999;

    display: flex;
    justify-content: center;
    align-items: center;

    backdrop-filter: blur(2px);
}

.loader-spinner {
    width: 3rem;
    height: 3rem;
}